<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='form.css') }}">
</head>

<body>
  <div class="header">
    <div>
      <a href="/">
        <p>Sign Up Form</p>
      </a>
    </div>
  </div>

  {% for camper in campers %}
  <div class="content">
    <div class="camper-info">
      <p>Name: {{camper.name}}</p>
    </div>
    <div class="camper-info">
      <p>Age: {{camper.age}}</p>
    </div>
    <div class="camper-info">
      <p>Phone Number: {{camper.phone_number}}</p>
    </div>
    <div class="camper-info">
      <p>Email: {{camper.email}}</p>
    </div>
    <div class="camper-info">
      <p>Address: {{camper.address}}</p>
    </div>
    <div class="camper-info">
      <p>T-Shirt Size: {{camper.t_shirt_size}}</p>
    </div>
  </div>
  {% endfor %}
  <a href="/delete">
    <p>Delete a Camper</p>
  </a>
</body>

</html>